{
	"root": true,
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"extends": ["wordpress", "plugin:prettier/recommended"],
	"plugins": ["babel-eslint"],
	"parserOptions": {
		"sourceType": "module"
	}
}
